// app global css in SCSS form
body {
  font-family: "Bitter", serif;
}

.color-bg {
  background-color: $color-bg;
}
.color-text {
  color: #194484;
}
.bg-promo {
  background-color: $promo;
}
.text-weight-bold {
  font-weight: 600;
}
.promo {
  font-size: 13px;
  border-top: 0.105rem solid #ffffff;
  .flex {
    flex-wrap: nowrap;
  }
}
